@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.Boks-1 {
    background-color: hsl(31, 77%, 52%);
    padding-top: 10px;
    width: 300px;
    height: 450px;
    border-radius: 20px 0 0 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Boks-2 {
    background-color: hsl(184, 100%, 22%);
    padding-top: 10px;
    width: 300px;
    height: 450px;
    color: white;
    display: flex;
    flex-direction: column;
}

.Boks-3 {
    background-color: hsl(179, 100%, 13%);
    padding-top: 10px;
    width: 300px;
    height: 450px;
    border-radius: 0 20px 20px 0;
    color: white;
    display: flex;
    flex-direction: column;
}


.learn-more {
    margin-top: auto;
    margin-left: 40px;
    margin-bottom: 35px;
    width: 120px;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: white;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.Boks-1 .learn-more {
    color: hsl(31, 77%, 52%);
}

.Boks-2 .learn-more {
    color: hsl(184, 100%, 22%);
}

.Boks-3 .learn-more {
    color: hsl(179, 100%, 13%);
}

.s-icon {
width: 80px;
height: 50px;
margin-top: 30px;
margin-left: 30px;
    
}

.title-1 {
padding-left: 40px;
font-family: "Big Shoulders", sans-serif;
word-spacing: 30px;
font-weight: 500;
padding-top: 30px;
}

 .box-txt {
    padding-left: 40px;
    font-family: "Lexend Deca", sans-serif;
    padding-right: 10px;
    font-size: 15px;
    padding-top: 5px;
    padding-right: 30px;
    font-weight: 350;
}
